*{
    font-family:"Poppins", sans-serif;
}
body{
    background-color:#00c0ff;
    margin: 0;
}
@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
h1{
    text-align: center;
}
#hilotxt{
    border-radius: 15px;
    padding:10px;
}
h4{
    color:#00c0ff;
    margin:1px;
}
.gamebox input[type="button"]{
    color:white;
    width:90px;
    height: 38px;
    text-align:center;
    border:none;
    margin-top:10px;
    border-radius:10px;
    font-weight:500;
    background-color:#0082ac;
}
.gamebox input[type="number"]:hover{
    outline:none;
}
.reset p{
    color: green;
    letter-spacing: 1px;
}
.reset button{
    color:white;
    width:90px;
    height: 38px;
    text-align:center;
    border:none;
    margin-top:10px;
    border-radius:10px;
    font-weight:500;
    background-color:#0082ac;
}
.gamebox input[type="number"]:hover{
    border:2px solid #0082ac;
}
.gamebox input[type="number"]{
    width:50px;
    height: 35px;
    text-align:center;
    border:2px solid gray;
    border-radius:10px;
    font-weight:600;
}
@media (max-width: 400px) {
.imgbox{
    margin:0 auto;
    display:flex;
    align-items : center;
    justify-content : center;
}
.imgbox img{
    margin: -20px 0;
    width: 40px;
}
.container{
    width:95vw;
    background-color:#ffffff;
    box-shadow:1px 5px 16px #888888;
    border-radius:15px;
    margin: 0 auto;
    margin-top: 50px;
    display:none;
}
.rules{
    padding: 15px;
}
.pbox{
    border-radius:10px;
    border:1px solid #ffeaff;
}
.pbox p{
    padding:5px;
    margin:3px;
}
.gboxcover{
    margin: 0 auto;
    width: 95vw;
    background-color:white;
    display:flex;    
    box-shadow:1px 5px 16px #888888;
    border-radius:15px;
    margin-top:60px;
}
.gamebox{
    margin: 0 auto;
    text-align: center;n
}
#gboxinput{
    margin:5px 60px;
}
.resetbox{
    width: 95vw;
    margin:0 auto;
    background-color:white; 
    box-shadow:1px 5px 16px #888888;
    border-radius:15px;
    margin-top:50px;
    display:none;
}
.reset{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
}
@media (min-width: 400px) {
.imgbox{
    max-width: 300px;
    margin:0 auto;
    display:flex;
    align-items :center;
    justify-content :center;
}
.imgbox img{
    margin: -20px 0;
    max-width: 50px;
}
.container{
    width:95vw;
    max-width:450px;
    background-color:#ffffff;
    box-shadow:1px 5px 16px #888888;
    border-radius:15px;
    margin: 0 auto;
    margin-top: 50px;
    display:none;
}
.rules{
    padding: 15px;
}
.pbox{
    border-radius:10px;
    border:1px solid #ffeaff;
}
.pbox p{
    padding:5px;
    margin:3px;
}
.gboxcover{
    margin: 0 auto;  
    width:450px;
    background-color:white;
    display:flex;    
    box-shadow:1px 5px 16px #888888;
    border-radius:15px;
    margin-top:60px;
}
.gamebox{
    margin: 0 auto;
    text-align: center;
}
#gboxinput{
    margin:5px 60px;
}

.resetbox{
    margin:0 auto;
    width:400px;
    background-color:white; 
    box-shadow:1px 5px 16px #888888;
    border-radius:15px;
    margin-top:50px;
    display:none;
}
.reset{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

}
